<div class='container-fluid' style="height: 100%vh; padding: 0px !important;">
  <div class='col-12' style="padding: 0px !important;">
      <ngb-carousel>
          <ng-template ngbSlide>
              <img src="../../assets/home1.jpg" style="height: 100%; width: 100%;">
              <div class="carousel-caption">
                <h5>BeeHuman</h5>
                <p>A versatile portal for donations and voluneering</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/volunteering.jpg" style="height: 100%; width: 100%" >
              <div class="carousel-caption">
                <h5>Volunteering</h5>
                <p>You wish to actively help people around you? Sign up for volunteering. You need a voluneer to help you? Post a request and let others know.</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/rsz_donation.jpg" style="height: 100%; width: 100%;">
              <div class="carousel-caption">
                <h5>Donating</h5>
                <p>Good and unused items collecting dust and cluttering your home? Give them to someone who needs them. Need something? Ask for it!</p>
              </div>
          </ng-template>
      </ngb-carousel>
  </div>

</div>
