<app-navigation-bar></app-navigation-bar>
<div class="container h-100 w-100" style="background-image: url('../../assets/Presentation1.jpg'); margin-right: 0px; margin-left: 0px; max-width:  2000px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6" >
      <div class="container h-100 w-100">
        <div class="row h-100 justify-content-around align-items-center">
          <div class="col-8 col-md-6 col-lg-4">
            <div class="card shadow" style=" background-image: radial-gradient(circle, #e1932c, #e09f35, #e0ab40, #dfb64b, #dec158);">
              <img src="../../assets/rsz_volunteering.jpg" class="card-img-top" >
               <div class="card-body">
                <div class="card-title pt-2 text-center text-white text-uppercase">Volunteering</div>
                <div class="card-text text-white font-weight-light pb-4">Wish to volunteer or ask for volunteers?</div>
                <span class="align-self-end"><a routerLink="/volunteering" class="card-link">Click here</a></span>
               </div>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4">
            <div class="card shadow" style="background-image: radial-gradient(circle, #e1932c, #e09f35, #e0ab40, #dfb64b, #dec158);">
              <img src="../../assets/rsz_1donation.jpg" class="card-img-top" >
              <div class="card-body">
                <div class="card-title pt-2 text-center text-white text-uppercase">Donations</div>
                <div class="card-text text-white font-weight-light pb-4">Wish to donate or ask for a donation?</div>
                <span class="align-self-end"><a routerLink="/donations" class="card-link">Click here</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
